
    body {
        background-color: #D3D3D3;
		font-size: 24px;
		margin-left: 10px;
		margin-right: 15px;
		line-height: 0.8;
		color: #1C284E;
		padding-bottom: 100px;
    }
	
    content {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
		margin: 10px;
        margin-left: 50px;
    }
	header {
            background-color: #174D7C;
            padding: 5px;
            text-align: center;
            color: #0e1427;
    }

    nav {
            display: flex;
            justify-content: center;
            background-color: #1C284E;
    }

    nav a {
            color: #767e94;
            text-decoration: none;
            padding: 7px 10px;
            display: inline-block;
    }

    nav a:hover {
            background-color: #192446;
    }
		
	content p {
			font-size: 12px; 
	}
	
	img {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 60%;
			height: auto;
	}
	
	p {
            line-height: 1;
			margin-left: 20px;
    }
	
	h1 {
			margin-bottom: 0px;	
	}
	
	h2 {
			margin-left: 5px;	
			margin-bottom: -20px;	
	}
	
	h3 {
			margin-left: 10px;	
			margin-bottom: -10px;	
	}
	
	h4 {
			margin-left: 10px;	
			margin-bottom: 5px;	
	}
	
	ul {
			list-style-type: none;
            padding: 0;
    }

    li {
            margin-bottom: 10px;
			margin-left: 30px;
    }

    li a {
            text-decoration: none;
            color: #366BA1; /* Link color */
    }
	
	footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: #174D7C;
			color: #0e1427;
			text-align: center;
			padding: 10px;
	}

	footer ul {
			list-style: none;
			padding: 0;
			margin: 0;
	}

	footer li {
			display: inline-block;
			margin-right: 10px;
	}

	footer a {
			text-decoration: none;
			color: #767e94;
	}
	
	dropdown {
            position: relative;
            display: inline-block;
    }

    dropdown-btn {
            padding: 10px;
            background-color: #4C7D8E;
            color: #0e1427;
            border: none;
            cursor: pointer;
			width: 1000%;
     }

    dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
			width: 1000%;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
    }

    dropdown-content a {
            display: block;
            text-decoration: none;
            color: #333;
            background-color: #f9f9f9;
            padding: 12px 16px;
    }

    dropdown-content a:hover {
            background-color: #ddd;
    }

    dropdown:hover .dropdown-content {
            display: block;
    }

    dropdown-content img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
    }
